<div class="nested-fields">
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :birthdate %>
  <%= f.input :experience, placeholder: "please describe any previous musical experience, if any" %>
  <%= link_to_remove_association "remove child", f %>
</div>
