<p>Fill in this application for a free trial lesson!</p>
<%= simple_form_for @student do |f| %>
<%= f.input :first_name, required: true, label: false, placeholder: "Parent First Name"%>
<%= f.input :last_name, required: true, label: false, placeholder: "Parent Last Name" %>
<%= f.input :phone, label: false, placeholder: "Phone Number" %>
<%= f.input :email, required: true, label: false, placeholder: "Email" %>
<%= f.input :address, required: true, label: false, placeholder: "Address" %>
<%= f.input :zip_code, required: true, label: false, placeholder: "Zip code" %>
<%= f.input :languages, label: false, placeholder: "Preferred language of instruction (English, Dutch, German etc.)" %>
<%= f.input :in_home, label: false, placeholder: "Please indicate whether you would like lessons at your home, or at the teacher's location" %>
<%= f.input :times, label: false, placeholder: "Times available (list as many as possible)" %>
<h3>Add student</h3>
<div id="student_children">
  <%= f.simple_fields_for :student_children do |student_child| %>
    <%= render 'student_child_fields', f: student_child %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add child', f, :student_children %>
  </div>
</div>
<br>
<%= f.input :notes, label: false, placeholder: "Notes" %>
<%= f.input :referral, label: "How did you hear about us?", collection: ["Google search", "Word-of-mouth referral", "Poster / flyer", "Competition, masterclass, or other activity", "Other"] %>
<%= f.button :submit, "Send Application", class: "btn btn-primary" %>
<% end %>
