<div class="nav-container">
   <div class="bg-dark navbar-dark" data-sticky="top">
      <div class="container">
         <nav class="navbar navbar-expand-lg">
            <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo.png", width: "40px" %>
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <%= link_to "About", about_pages_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                     <%= link_to "Policy and Prices", policy_pages_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                     <%= link_to "Calendar", calendar_pages_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                     <%= link_to "Teachers", teachers_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                     <%= link_to "Contact", contact_pages_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                     <%= link_to "Videos", videos_pages_path, class: "nav-link" %>
                  </li>
               </ul>
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <%= link_to "Apply Now", new_student_path, class: "btn btn-outline-primary" %>
                  </li>
               </ul>
            </div>
            <!--end nav collapse-->
         </nav>
      </div>
      <!--end of container-->
   </div>
</div>
