<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<div class="main-container">
   <section>
      <div class="container">
         <div class="row justify-content-center text-center section-intro">
            <div class="col-12 col-md-9 col-lg-8">
               <h1><%= t(".header") %></h1>
                <p>Please contact us for more information!</p>
<!--                <p><%= t(".paragraph") %></p>
               <%= link_to download_calendar_pages_path, "data-turbolinks": false  do %>
                 <%= t(".link") %>
               <% end %> -->
            </div>
         </div>
      </div>
   </section>
</div>
