<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<div class="main-container">
  <section>
    <div class="container">
      <div class="row justify-content-center text-center section-intro">
        <div class="col-12 col-md-9 col-lg-8">
          <div class="text-center">
            <h1><%= "#{@teacher.first_name} #{@teacher.last_name}" %></h1>
            <% if @teacher.photo? && 1==2%>
            <div class="teacher-pic">
              <%= cl_image_tag @teacher.photo.path, width: 250, height: 350, crop: :fill, gravity: :face, class: "img-fluid rounded mb-3" %></div>
              <% end %>
              <div class="row text-center">
                <div class="col-sm-12">
                  <span class="btn btn-lg btn-link text-dark border"><%= t(".button1") %></span></div>
                </div>
                <br>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#contact"><%= t(".button2") %></button>
                </div>
              </div>
              <br>
              <ul>
                <% @teacher.degrees.each do |degree| %>
                <li><%= "#{degree.description} - #{degree.school}, #{degree.year} - #{degree.notes}" %></li>
                <% end %>
              </ul>
              <p><%= t(".paragraph1") %>
                <%= @teacher.languages %></p>
                <p><%= t(".paragraph2") %>
                  <%= @teacher.location %></p>
                  <h3><%= t(".header1") %></h3>
                  <% @teacher.paragraphs.each do |paragraph| %>
                  <p><%= paragraph.content %></p>
                  <% end %>
                  <% if @teacher.id == 1 %>
                    <a href="http://www.andrewwright.nl"><%= t(".link1") %> </a> |
                    <a href="http://www.andrewwright.nl/pages/polyphonic_touch_long_abstract"> <%= t(".link2") %> </a> |
                    <a href="https://openaccess.leidenuniv.nl/handle/1887/41220"> <%= t(".link3") %></a>
                  <% end %>
                  <% if current_user %>
                  <% if current_user.email == @teacher.email %>
                  <%= link_to edit_teacher_path(@teacher), class: "btn btn-danger btn-lg" do %>
                    <%= t(".link4") %>
                  <% end %>
                  <% end %>
                  <% end %>

                </div>
              </div>
            </div>
          </section>
        </div>
        <%= content_for (:after_js) do %>
        <script></script>
        <% end %>
