<p>Dear <%= @student.first_name %>,</p>
<br>
<p>Thanks for submitting the application form. We will contact you soon about scheduling a trial lesson!</p>
<br>
<p>dr. Andrew Wright</p>
<p>www.wrightpianoschool.com</p>
<p>info@wrightpianoschool.com</p>
<p>+31639591941</p>
<br>
<!-- <p>Your information</p>
<p><%= "#{@student.first_name} #{@student.last_name}" %></p>
<p><%= "#{@student.address} #{@student.city} #{@student.zip_code}" %></p>
<p><%= "#{@student.times}" %></p>
<p><%=  %></p> -->
<br>
<br>
<br>
<h3>Information</h3>
<p>Parent name: <%= "#{@student.first_name} #{@student.last_name}" %></p>
<p>Address: <%= "#{@student.address} #{@student.zip_code}" %></p>
<p>Email: <%= "#{@student.email}" %> Phone: <%= @student.phone %></p>
<p>Location preference: <%= @student.in_home %></p>
<p>Language of instruction: <%= @student.languages %></p>
<p>Time preferences: <%= @student.times %></p>
<p>Notes: <%= @student.notes %></p>
<p>Referral: <%= @student.referral %></p>
<% if @student.student_children.first %>
  <h4>Students</h4>
  <% @student.student_children.each do |child| %>
    <p>Name: <%= "#{child.first_name} #{child.last_name}" %></p>
    <p>Birthdate: <%= child.birthdate %></p>
    <p>Experience: <%= child.experience %></p>
  <% end %>
<% end %>
