<!DOCTYPE html>
<html>
   <head>
      <!--     google tag manager -->
      <script>
         document.addEventListener("turbolinks:load", function() {

                 (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-TXSFTM9');

         console.log("GTM fired");
         })
      </script>
      <!--       google tag manager-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Wright Piano School - Piano Lessons in The Hague, Utrecht, Leiden, Amsterdam</title>
      <%= csrf_meta_tags %>
      <%= action_cable_meta_tag %>
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application', defer: true %>
   </head>
   <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXSFTM9"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <%= yield %>
      <%= cloudinary_js_config %>
   </body>
</html>
